# Escolha UMA abordagem:

# A) Variáveis PG separadas
PGHOST=database
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgrespwd
PGDATABASE=library

# B) OU uma única DATABASE_URL
# DATABASE_URL=postgres://postgres:postgrespwd@database:5432/library

# MinIO (do ponto de vista do backend dentro da network Docker)
MINIO_ENDPOINT=storage          # nome do serviço no docker-compose
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123

# Nome do bucket que sua app usa
MINIO_BUCKET=fotos-livros
MINIO_REGION=us-east-1

# (Opcional) tornar leitura pública (para abrir URL direta do MinIO no navegador)
MINIO_PUBLIC_READ=true

# (Opcional) URL pública do MinIO vista pelo NAVEGADOR (se for retornar URL direta)
PUBLIC_MINIO_URL=http://localhost:9000
